<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="buzzballfruits.neutron">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application android:allowBackup="true"
        android:icon="@drawable/smiley"
        android:label="@string/app_name" >
        <activity
                android:name="buzzballfruits.neutron.SplashActivity"
                android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name="buzzballfruits.neutron.MainActivity">
        </activity>
        <activity
                android:name="buzzballfruits.neutron.ScoreActivity">
        </activity>
        <activity
                android:name="buzzballfruits.neutron.GameActivity">
        </activity>

    </application>

</manifest>
